<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
	body
	{
		background-color: yellow;
		margin-top: 20%;
	}
</style>

</head>
<body>
<h1>Register page</h1>
	<center>
	
		<div>
		<form action ="register" method = "post">
	
		<label>User name : </label>
		<input type = "text" name = "username"><br><br>
		
		<label>email : </label>
		<input type = "email" name = "email"><br><br>
		
		<label>password : </label>
		<input type = "password" name = "password"><br><br>
		
		<label>gender : </label>
		<input type = "radio" name = "gender" value = "male">
		<label>Male</label>
		<input type = "radio" name = "gender" value = "female">
		<label>Female</label>
		<input type = "radio" name = "gender" value = "other">
		<label>others</label><br><br>
		
		<label>role : </label>
		<input type = "radio" name = "role" value = "admin">
		<label>admin</label>
		<input type = "radio" name = "role" value = "user">
		<label>user</label><br><br>
		
		<label>address : </label>
		<textarea name="address"></textarea><br><br>
		
		<input type = "submit" value = "Register">

	</form>
	</div>
	
	</center>
</body>
</html>